*{
    margin: 0;
    padding: 0;
    background-color: #2c041c
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
}
h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #fff;
}
.form-container{
    position: absolute;
    width: 600px;
    height: 700px;
    background: rgba (0, 0, 128, 50%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    left: 28%;
    top: 18%;
    margin: 5px; 5px; 5px; 5px;
    padding: 50px; 10px; 10px; 10px;
    box-sizing: border-box;
}
form{
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal;
    background-color: #601a35;
}
label{
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal;
    margin: 5px; 5px; 5px; 5px;
    background-color: #601a35;
    color: #fff
}
input{
    background-color: #fff;
}
textarea{
    background-color: #fff;
}
#submit{
    background-color: green;
    width: 300px;
    height: 25px;
}